.Perfil-name{
    font-size: 20px;
    font-weight: bold;
    color: #000;
   
}
.Perfil-email{
    font-size: 16px;
    color: #000;
    
}
.Perfil-direccion{
    font-size: 16px;
    color: #000;
    
}
.AlertBox{
    width: 200px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.AlertBox--success{
    background-color: #4dd34d;
}
.AlertBox--warning{
    background-color: #cdd828;
}
.AlertBox--error{
    background-color: #d34d4d;
}

.carousel{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container{
    /* position:relative; */
    transition: transform 1s ease-in-out;

    display: flex;
}

.carousel-slide{
    min-width: 100%;
    box-sizing: border-box;
    
}
/* .carousel-controls{
    
} */
.carousel-indicators{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* centrar respecto su propio tamaño, con solo left 50% se centra al medio respecto un borde del boton no respecto el propio centro del boton */
}
.carousel-slide img{
    width: 100%;
    display: block;

}
.carousel-btnPrev{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-btnNext{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}